/* основной цвет текста: #212121 */
/* вторичный цвет текста: #757575 */
/* цвет фона #E5E5E5 */
/*цвет акцента background: #2196F3 */
/*фон черный*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --back-color: #e5e5e5;
  --accent-color: #2196f3;
  --black-back: #2f303a;
  --white: #ffffff;
  --icon-color: #afb1b8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  background-color: #f5f4fa;
  color: var(--primary-text-color);

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.26;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 0ch;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*header*/
.head {
  background: var(--white);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #ececec;
}

.headline {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 24px 0;
}

.navi-pages {
  display: flex;
  margin-left: 93px;
}

.navi-pages-link {
  display: inline-block;
  position: relative;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-pages-link::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-link,
.navi-pages-link:hover:after,
.navi-pages-link:focus:after {
  opacity: 1;
}

.navi-pages .list + .list {
  margin-left: 50px;
}

.contacts-link-pages,
.navi-pages-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
}
.content-contacts-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.contacts-link-icon {
  width: 16px;
  height: 16px;

  margin-right: 10px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-link,
.navi-pages-link:hover,
.navi-pages-link:focus {
  color: var(--accent-color);
}

.contacts-link-pages {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-pages:hover,
.contacts-link-pages:focus {
  color: var(--accent-color);
}

.contacts-link-pages:hover .contacts-link-icon,
.contacts-link-pages:focus .contacts-link-icon {
  fill: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .list + .list {
  margin-left: 30px;
}

.contacts-link-pages {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.skills,
.prodaction,
.team,
.clients,
.project {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*заголовок*/
.home {
  background-color: #c4c4c4;
  margin: 0 auto;
  max-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/fon-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ececec;
}

.home .conteiner {
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 221px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
}

.header {
  display: flexbox;
  margin-bottom: 30px;
  color: var(--white);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

/*button*/
.order-button {
  background-color: var(--accent-color);
  color: var(--white);

  padding: 10px 32px;
  min-width: 200px;
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*soft skills*/
.skill {
  display: flex;
}

.skill .item {
  width: 270px;
}
.skills-blockicon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.skills-icon {
  display: block;
  width: 70px;
  height: 70px;
}

.skill .item + .item {
  margin-left: 30px;
}

.skills .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills .text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/*виды работ*/
.prodaction {
  padding-top: 0;
}
.prodaction .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work {
  display: flex;
  justify-content: center;
}

.work .item + .item {
  margin-left: 30px;
}

.prodaction-image {
  display: block;
}

.work .item {
  position: relative;
}

.prodaction-text {
  position: absolute;
  height: 70px;
  width: 370px;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  padding: 27px 0;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/*наша команда*/
.team,
.team .conteiner {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list .item {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team .title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list .foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list .name {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.profession {
  color: var(--secondary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.userpic-list {
  display: flex;
  justify-content: center;
}

.userpic-item {
  padding: 0;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--accent-color);
  transform: rotate(360deg);
}

.social-network-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-network-link:hover .social-network-icon,
.social-network-link:focus .social-network-icon {
  fill: var(--white);
}

.userpic-list li + li {
  margin-left: 10px;
}
.caption-foto {
  padding: 30px 32px;
}
/*наши клиенты*/
.clients .title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client {
  display: flex;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: transparent;
  width: 170px;
  height: 90px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 6px;
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client .item + .item {
  margin-left: 30px;
}
/*футер*/
.footer {
  background: var(--black-back);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  display: flex;
  background: var(--black-back);
  align-items: baseline;
}

.skins {
  display: flex;
}

.acide .skin + .skin {
  margin-left: 10px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white);
  padding: 0;
}

.footer .item + .item {
  margin-top: 9px;
}

.map {
  color: var(--white);
}

.email,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.map,
.email,
.tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.web {
  color: var(--accent-color);
}

.skins-footer .text {
  margin-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skins-footer {
  margin-left: 70px;
}

.white-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.white-link:hover,
.white-link:focus {
  background-color: var(--accent-color);
}

.white-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

/*фильтр*/
.button-all {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .button-all:hover,
.filter .button-all:focus {
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*предоставляемые услуги*/
.filter {
  display: flex;
  justify-content: center;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.cards-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.cards-item {
  display: block;
  flex-basis: calc(((100%-90px) / 3)-20);
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-hover {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .cards-hover,
.cards-link:focus .cards-hover {
  transform: translateY(0);
}

.cards-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.cards-image {
  display: block;
  width: 100%;
  height: auto;
}

.cards-footnote {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 24px 24px;
}
